@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
}
footer {
  /* border: 1px solid blue; */
}

input {
}


.dd{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,300px);
  justify-content: center;
  gap: 10px;

}